@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <div class="page">
        <NavMenu />

        <main>
            <div class="top-row px-4">
                @* TODO: CultureSwitcherComponent *@
            </div>

            <MudMainContent Class="pt-16 px-16">
                @Body
            </MudMainContent>
        </main>
    </div>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>