@implements IDisposable

@inject NavigationManager NavigationManager

<div class="sidebar">

    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">ERP-S</a>
        </div>
    </div>

    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="nav-link__icon bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
                    <span class="nav-link__text">
                        Home
                    </span>
                </NavLink>
            </div>

            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Account/Manage">
                            <span class="nav-link__icon bi bi-person-fill-nav-menu" aria-hidden="true"></span>
                            <span class="nav-link__text">
                                @context.User.Identity?.Name
                            </span>
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <button type="submit" class="nav-link">
                                <span class="nav-link__icon bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span>
                                <span class="nav-link__text">
                                    Logout
                                </span>
                            </button>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Account/Register">
                            <span class="nav-link__icon bi bi-person-nav-menu" aria-hidden="true"></span>
                            <span class="nav-link__text">
                                Register
                            </span>
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Account/Login">
                            <span class="nav-link__icon bi bi-person-badge-nav-menu" aria-hidden="true"></span>
                            <span class="nav-link__text">
                                Login
                            </span>
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </nav>
    </div>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}